//Le header
header {
    background-color: var(--fond-header);
}

//Le haut du header
.top_header {
  border-bottom: 1px var(--nav) solid;
  //logo du header
    &__logo {
        width: 35px;
        margin-left: 119px;
        margin-top: 17px;
        margin-bottom: 23px;
    }

  //titre du header
    &__titre {
        margin-left: 7px;
        font-size: 22px;
        font-weight: 900;
        margin-top: 25px;
        margin-bottom: 23px;
    }

  //Les éléments du header
    &__all_elements {
        display: flex;
    }

  //Liens du header
    &__liens {
        font-size: 23px;
        font-weight: 300;
        margin-top: 23px;
        margin-bottom: 23px;

        &__lien {
            text-decoration: none;
            color: var(--nav);
            margin-left: 23px;
            margin-bottom: 23px;

        }
    }

  //Icones du header
    &__img {
        display: flex;

        &__image {
            width: 16px;
            margin-left: 23px;
            margin-top: 23px;
            margin-bottom: 23px;

        }
    }

  //éléments de droite du header
    &__right {
        display: flex;
    }

}

//Le bas du header
.bottom_header {
  display: flex;

  //titre du bas du header
  &__titre {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 119px;
  }

  &__liens {
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
    font-weight: 300;

    &__lien_texte {
      text-decoration: none;
      color: var(--nav);
      margin-left: 18px;

    }

    &__lien_box_border {
      text-decoration: none;
      color: var(--blanc);
      border: 1px var(--blanc) solid;
      padding: 10.5px 20px;
      margin-left: 18px;
      border-radius: 37px;
    }

    &__lien_box_background {
      text-decoration: none;
      color: var(--blanc);
      background-color: var(--mauve);
      padding: 10.5px 20px;
      margin-left: 18px;
      border-radius: 37px;
    }
  }
}
